<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bognabot</title>
    
    <link rel="stylesheet" href="css/layout.css" />

    @RenderSection("Head", required: false)
</head>

<body>
<div id="main">
    <div id="sidebar">
        <ul>
            <li>@Html.ActionLink("Signals", "index", "signals")</li>
            <li>@Html.ActionLink("Indicators", "index", "indicators")</li>
            <li>@Html.ActionLink("Trader", "index", "trader")</li>
        </ul>
        
        
    </div>
    <div id="content">
        @RenderBody()
    </div>
</div>
    <script src="js/vendor.js"></script>
    <script src="js/layout.js"></script>
    <script language="javascript">
        var layoutVm = new bognabot.LayoutViewModel({
        });
    </script>

    @RenderSection("Scripts", false)

</body>

</html>